@import "../../../../styles/customMediaQueries.css";

.root {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;

	&:nth-of-type(odd) {
		background-color: var(--colorWhite);
	}

	&[id] {
		scroll-margin-top: var(--topbarHeight);
		@media (--viewportMedium) {
			scroll-margin-top: var(--topbarHeightDesktop);
		}
	}
}

.sectionContent {
	padding: 32px 0;
	position: relative;
	word-break: break-word;

	@media (--viewportMedium) {
		padding: 64px 0;
	}

	animation: fadeVertical 1s ease-out both;
	animation-timeline: view();
	animation-range: entry 0% entry 60%;
}

@keyframes fadeVertical {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.backgroundImageWrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
