@import '../../styles/customMediaQueries.css';

.root {
  position: relative;
}

.input {
}
.textarea {
}

.inputSuccess {
}
.inputError {
  border: var(--borderErrorField);

  + .maxTextLength {
    bottom: 43px;

    @media (--viewportSmall) {
      bottom: 44px;
    }

    @media (--viewportMedium) {
      bottom: 44px;
    }
  }
}

.maxTextLength {
  position: absolute;
  bottom: 1px;
  right: 4px;
  font-size: 0.7rem;
  color: var(--colorGrey400);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  line-height: 0.8rem;

  @media (--viewportSmall) {
    bottom: 3px;
  }

  @media (--viewportMedium) {
    bottom: 5px;
  }
}

.datalist {
  position: absolute;
  width: calc(100% - 30px);
  background: var(--colorWhite);
  border: 1px solid var(--colorGrey200);
  border-top: none;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  z-index: 9999;
  max-height: 240px;
  overflow-y: auto;
}

.datalistOption {
  display: block;
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
}

.datalistOption:hover {
  background: var(--colorGrey75);
}

.datalistOptionActive {
  background: var(--colorGrey75);
}
