@import "../../styles/customMediaQueries.css";

.customField {
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (--viewportMedium) {
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	animation: fadeIn 500ms 0ms forwards;
}

/* Animations on the custom dropdowns with search breaks them */
.customField:has(legend) {
	animation: none;
}

.hide {
	display: none;
}

@keyframes fadeIn {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
