@import "../../../../styles/customMediaQueries.css";

.root {
	/* Dimensions */
	width: 100%;
	height: auto;

	/* Layout */
	display: flex;
	flex: 1;
	flex-direction: column;

	padding-top: 1px;

	@media (--viewportMedium) {
		padding-top: 2px;
	}
}

.error {
	color: var(--colorFail);
}

.formMargins {
	margin-bottom: 24px;

	@media (--viewportMedium) {
		margin-bottom: 32px;
	}
}

.title {
	composes: formMargins;

	animation: fadeIn 500ms 0ms forwards;
}

.description {
	composes: formMargins;
	flex-shrink: 0;

	animation: fadeIn 500ms 0ms forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.listingTypeSelect {
	margin-bottom: 24px;

	@media (--viewportMedium) {
		margin-bottom: 32px;
	}
}

.selectedLabel {
	composes: label from global;
}
.selectedValue {
	margin-top: 0;
	margin-bottom: 6px;

	@media (--viewportMedium) {
		margin-top: 0;
		margin-bottom: 0;
		padding: 2px 0 6px 0;
	}
}

.unitTypeHidden {
	display: none;
}

.submitButton {
	margin-top: auto;
	margin-bottom: 24px;
	flex-shrink: 0;

	@media (--viewportLarge) {
		display: inline-block;
		width: 241px;
		margin-top: 100px;
	}
}
