/* Defined theme colors */
:root {
  /* Color variables */
  --white: #ffffff;
  --black: #000000;
  --black-transparent: rgba(0,0,0,0.5);

  --air-superiority-blue: #88A7BE;
  --bone: #E0DACD;
  --bone-trans-25:#F7F6F3;
  --bone-trans-75: rgb(224, 218, 205, 0.75);
  --bridal-heath: #FFFBF3;
  --cambridge-blue: #95B1A9;
  --charcoal: #3D4352;
  --charcoal-100: #3C4251;
  --charcoal-100-trans-50: rgb(60, 66, 81, 0.50);
  --charcoal-100-trans-75: rgb(60, 66, 81, 0.75);
  --gamoge: #EBA01E;
  --jungle-mist: #BECED9;
  --jungle-mist-trans-25: rgb(190, 206, 217, 0.25);
  --tomato: #EC5C45;
  --melon: #FCC3B6;
  --melon-2: #F5A28F;
  --melon-trans-25: rgba(252, 195, 182, 0.25);
  ;
}
