@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defined theme colors */
@import "colors.css";

/* Defined theme typography variables */
@import "_typography-variables.css";

/* Custom Tailwind components */
@layer components {
  /* Center content */
  .center {
    @apply max-w-[calc(100%-theme('spacing.gutter'))] xs:max-w-[calc(100%-theme('spacing.gutter-1-5x'))] md:max-w-[calc(100%-theme('spacing.gutter-2x'))] 3xl:max-w-[1600px] w-full mx-gutter-1/2 xs:mx-gutter-3/4 md:mx-gutter 3xl:mx-auto;
  }
}

.prose a[target*="_blank"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 0.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1em;
  height: 1em;
  content: url('../img/icons/external-link-icon.svg');
  margin-left: 0.3em;
}

.text-width {
  max-width: 1200px;
}

.text-width-large {
  max-width: 1400px;
}

.text-width-small {
  max-width: 900px;
}

/* Word rotator */
.word-rotator {
  overflow: hidden;
  display: inline-block;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: start;
}

.word-rotator > * {
  grid-area: 1/1/2/2;
}

/* Word list animation */
.word-grouping {
  position:relative;
  flex-direction: column;
}

.word-list {
  overflow: hidden;
  height: auto;
  opacity:1;
  font-size: clamp(16px, 5vw, 32px);
  line-height: 1.4em;
  flex-direction: column;
}

.animate-word-list-2 {
  justify-content: flex-end;
}


.header-hero { 
  font-weight: 400;
  font-size: clamp(var(--header-hero), 5vw, 300px);
  line-height: var(--header-hero-line-height);
}

@media only screen and (max-width: 600px) {
  .header-hero { 
    font-size: 28px;
    line-height: 40px;
  }

  .word-list {
    font-size: 18px;
    line-height: 26px;
  }
}

.word-list.absolute {
  position: absolute;
}

.animate-word-list-1 {
  top: 100%;
}

.animate-word-list-2 {
   bottom: 100%;
}

.word-emphazise{
  position: relative; 
  display: inline-block;
  overflow:hidden;
  opacity: 1; 
}

.word-emphazise div {
  position: relative; 
  display: inline-block;
}

/* Buttons  */
.button {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  line-height: 1.5em;
  background-color: var(--melon);
  padding: 18px 20px 16px 20px;
  border-radius: 100px;
}

.button:hover {
  background-color: var(--melon-2);
}

.button--arrow::after {
  content: '';
  background-image: url('../img/icons/arrow-right.svg');
  display: inline-block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  margin-left: 10px;
}

.button-transparent {
  display: inline-flex;
  align-items: center;
  padding: 18px 30px 16px 30px;
  border-radius: 100px;
}

@media only screen and (min-width: 450px) {
  .button {
    font-size: 1rem;
    padding: 18px 30px 16px 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .button { 
    font-size: 1.125rem;
    line-height: 1.444em;
    padding: 18px 30px 16px 30px;
  }
}

.button-transparent:hover {
  background-color: var(--bone-trans-25);
}

/* Accordion */
.accordion details {
  overflow: hidden; /* Keep this line to prevent an odd blue outline around the element in Safari. */
}

.accordion summary {
  display: block;
}

.accordion summary::-webkit-details-marker {
  display: none;
}

.accordion > details summary {
  position: relative;
  display: flex;
}

.accordion span:hover {
  cursor: pointer;
}

.accordion > details summary::after {
  content: '';
  background-image: url('../img/icons/plus.svg');
  display: inline-block;
  position: relative;
  margin-left: auto;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
}

.accordion > details summary:hover {
  color: var(--tomato);
  cursor: pointer;
  transition: all 0.7s ease;
}

.accordion div.content {
  box-sizing: border-box;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out, margin-top 500ms ease-out;
}

.accordion > details[open] + div.content {
  margin-top: 20px;
  max-height: 1200px; /* Set a max-height value enough to show all the content */
  transition: max-height 500ms ease-out, margin-top 200ms ease-out;
}

.accordion > details[open] summary::after {
  background-image: url('../img/icons/minus.svg');
}

@media only screen and (min-width: 1024px) {
  .accordion > details summary::after {
    min-width: 48px;
    min-height: 48px;
    border-radius: 100%;
  }

  .accordion > details summary:hover::after {
    background-image: url('../img/icons/plus-white.svg');
    background-color: var(--tomato);
    transition: all 0.7s ease;
  }

  .accordion > details[open] summary:hover::after {
    background-image: url('../img/icons/minus-white.svg');
  }
}
/* End accordion */

.circle {
  position: absolute;
  top: 60px;
  left: 15%;
  right: 20px;
  max-width: 180px;
  max-height: 180px;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
}

.circle.circle--melon {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(252,195,182,0.25) 40%);
}

.circle.circle--blue {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(190,206,217,0.25) 40%);
}

.floating-1 {  
  --float-x: 0;
  --float-y: 20px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-2 {  
  --float-x: 50px;
  --float-y: 0;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-3 {  
  --float-x: 0;
  --float-y: -20px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Animations */
@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(var(--float-x), var(--float-y)); }
  to   { transform: translate(0, -0px); }    
}