$primary: #2CE481;
$secondary: #D5E3E2;
$font-size: 18px;
$breakpoint-small: 768px;
$page-max-width: 1200px;
$font-family-headings: 'Poppins', Arial, Helvetica, sans-serif;
$font-family-body: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
$border-radius: 16px;
$line: 1px solid rgba(black, 0.08);
$sidebar-width: 256px;

$white: #ffffff;
$gray1: #F5F7FD;
$gray2: #E3EAF5;
$gray3: #C0C9D8;
$gray4: #9FABC1;
$gray5: #6C7789;
$gray6: #364559;
$black: #000;