@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  line-height: 1.8;
  overscroll-behavior: contain;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

td,
a,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 2rem 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.05rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 1rem 0;
}
p:last-of-type {
  margin-bottom: 0;
}

a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 0.5rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
a::after {
  transition: width 0.2s ease-in-out;
  content: "";
  position: absolute;
  bottom: 2px;
  height: 2px;
  background-color: #2CE481;
  width: 0;
}
a:hover::after {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0 0 0 1.2rem;
}
ul li {
  text-align: left;
}
ul li::marker {
  color: #2CE481;
}

section {
  padding: 5rem 0;
}
section:first-of-type {
  padding-top: 0;
}
@media (max-width: 768px) {
  section {
    padding: 1rem 0;
  }
}

table {
  border-collapse: collapse;
}
table th,
table tr,
table td {
  padding: 0 2rem 0 0;
  width: min-content;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  color: rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.08);
}

.grid-row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 4rem;
  width: 100%;
}
.grid-row.grid-3-columns .grid-cell {
  flex: 1 1 33.3333333%;
  max-width: calc(33.3333333% - 1rem);
}
@media (max-width: 768px) {
  .grid-row.grid-3-columns .grid-cell {
    max-width: 100%;
  }
}
.grid-row.gap-small {
  gap: 1rem;
}
.grid-row.align-center {
  align-items: center;
}
.grid-row .grid-cell {
  flex: 1 1 auto;
  width: 100%;
}
.grid-row .grid-cell.shrink {
  width: min-content;
}
.grid-row .grid-cell.width-33 {
  width: 33.33333%;
}
@media (max-width: 768px) {
  .grid-row .grid-cell {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .grid-row {
    flex-flow: column nowrap;
    gap: 2rem;
  }
}

.mt-0 {
  margin-top: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.mt-bps-0 {
  margin-top: 0rem !important;
}

.mr-bps-0 {
  margin-right: 0rem !important;
}

.mb-bps-0 {
  margin-bottom: 0rem !important;
}

.ml-bps-0 {
  margin-left: 0rem !important;
}

.pt-bps-0 {
  padding-top: 0rem !important;
}

.pr-bps-0 {
  padding-right: 0rem !important;
}

.pb-bps-0 {
  padding-bottom: 0rem !important;
}

.pl-bps-0 {
  padding-left: 0rem !important;
}

.mt-bps-1 {
  margin-top: 1rem !important;
}

.mr-bps-1 {
  margin-right: 1rem !important;
}

.mb-bps-1 {
  margin-bottom: 1rem !important;
}

.ml-bps-1 {
  margin-left: 1rem !important;
}

.pt-bps-1 {
  padding-top: 1rem !important;
}

.pr-bps-1 {
  padding-right: 1rem !important;
}

.pb-bps-1 {
  padding-bottom: 1rem !important;
}

.pl-bps-1 {
  padding-left: 1rem !important;
}

.mt-bps-2 {
  margin-top: 2rem !important;
}

.mr-bps-2 {
  margin-right: 2rem !important;
}

.mb-bps-2 {
  margin-bottom: 2rem !important;
}

.ml-bps-2 {
  margin-left: 2rem !important;
}

.pt-bps-2 {
  padding-top: 2rem !important;
}

.pr-bps-2 {
  padding-right: 2rem !important;
}

.pb-bps-2 {
  padding-bottom: 2rem !important;
}

.pl-bps-2 {
  padding-left: 2rem !important;
}

.mt-bps-3 {
  margin-top: 3rem !important;
}

.mr-bps-3 {
  margin-right: 3rem !important;
}

.mb-bps-3 {
  margin-bottom: 3rem !important;
}

.ml-bps-3 {
  margin-left: 3rem !important;
}

.pt-bps-3 {
  padding-top: 3rem !important;
}

.pr-bps-3 {
  padding-right: 3rem !important;
}

.pb-bps-3 {
  padding-bottom: 3rem !important;
}

.pl-bps-3 {
  padding-left: 3rem !important;
}

.mt-bps-4 {
  margin-top: 4rem !important;
}

.mr-bps-4 {
  margin-right: 4rem !important;
}

.mb-bps-4 {
  margin-bottom: 4rem !important;
}

.ml-bps-4 {
  margin-left: 4rem !important;
}

.pt-bps-4 {
  padding-top: 4rem !important;
}

.pr-bps-4 {
  padding-right: 4rem !important;
}

.pb-bps-4 {
  padding-bottom: 4rem !important;
}

.pl-bps-4 {
  padding-left: 4rem !important;
}

.mt-bps-5 {
  margin-top: 5rem !important;
}

.mr-bps-5 {
  margin-right: 5rem !important;
}

.mb-bps-5 {
  margin-bottom: 5rem !important;
}

.ml-bps-5 {
  margin-left: 5rem !important;
}

.pt-bps-5 {
  padding-top: 5rem !important;
}

.pr-bps-5 {
  padding-right: 5rem !important;
}

.pb-bps-5 {
  padding-bottom: 5rem !important;
}

.pl-bps-5 {
  padding-left: 5rem !important;
}

.mt-bps-6 {
  margin-top: 6rem !important;
}

.mr-bps-6 {
  margin-right: 6rem !important;
}

.mb-bps-6 {
  margin-bottom: 6rem !important;
}

.ml-bps-6 {
  margin-left: 6rem !important;
}

.pt-bps-6 {
  padding-top: 6rem !important;
}

.pr-bps-6 {
  padding-right: 6rem !important;
}

.pb-bps-6 {
  padding-bottom: 6rem !important;
}

.pl-bps-6 {
  padding-left: 6rem !important;
}

.mt-bps-7 {
  margin-top: 7rem !important;
}

.mr-bps-7 {
  margin-right: 7rem !important;
}

.mb-bps-7 {
  margin-bottom: 7rem !important;
}

.ml-bps-7 {
  margin-left: 7rem !important;
}

.pt-bps-7 {
  padding-top: 7rem !important;
}

.pr-bps-7 {
  padding-right: 7rem !important;
}

.pb-bps-7 {
  padding-bottom: 7rem !important;
}

.pl-bps-7 {
  padding-left: 7rem !important;
}

.m-0 {
  margin: 0rem !important;
}

.p-0 {
  padding: 0rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.m-6 {
  margin: 6rem !important;
}

.p-6 {
  padding: 6rem !important;
}

.m-7 {
  margin: 7rem !important;
}

.p-7 {
  padding: 7rem !important;
}

.mt-05 {
  margin-top: 0.5rem !important;
}

.mr-05 {
  margin-right: 0.5rem !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.ml-05 {
  margin-left: 0.5rem !important;
}

.pl-05 {
  padding-left: 0.5rem !important;
}

.pt-05 {
  padding-top: 0.5rem !important;
}

.pr-05 {
  padding-right: 0.5rem !important;
}

.pb-05 {
  padding-bottom: 0.5rem !important;
}

.margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-discreet {
  color: rgba(255, 255, 255, 0.4);
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 0.8rem;
}

.text-large {
  font-size: 1.2rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-12 {
  line-height: 1.2 !important;
}

.max-width-600px {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hidden-responsive {
    display: none;
  }
}

.box {
  background-color: #000;
  padding: 2rem;
  border-radius: 16px;
  color: #ffffff;
}

.button {
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;
  background-color: #000;
  padding: 0 1rem;
  height: 48px;
  font-weight: bold;
  border-radius: 300px;
  color: #ffffff;
  font-size: 0.8rem;
}
.button::after {
  content: none;
}
.button:hover {
  color: #000;
  background-color: #2CE481;
}

* {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: -0.02rem;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 pre {
  color: #2CE481;
  line-height: 1;
  font-size: 1.2rem;
}

.responsive-navigation {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 1rem;
}
.responsive-navigation img {
  max-width: 100px;
}

nav {
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 256px;
  padding: 0 1rem;
  z-index: 999;
  background-color: #000;
}
@media (max-width: 768px) {
  nav {
    width: 100%;
    bottom: auto;
  }
}
nav .nav-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}
nav .button {
  background-color: #2CE481;
  color: #000;
}
@media (max-width: 768px) {
  nav .button {
    display: none;
  }
}
nav .button:hover {
  background-color: #ffffff;
}
nav img {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  nav img {
    max-height: 64px;
    margin: 0;
  }
}
nav div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
}
nav a {
  color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  nav a {
    display: none;
  }
}

.section-content {
  position: relative;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section-content {
    padding: 0 1rem;
  }
}

main {
  margin-left: 256px;
  max-width: 100%;
}
@media (max-width: 768px) {
  main {
    margin-left: 0;
    margin-top: 64px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 0;
}
.hero .hero-animation {
  position: relative;
  margin-bottom: -0.65ch;
  width: 600px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
}
.hero .hero-animation span {
  animation: word-appear 0.75s cubic-bezier(0.63, 0.01, 0.15, 1.01) forwards;
  position: absolute;
  color: #2CE481;
  padding-bottom: 1rem;
  top: -5rem;
}
.hero .hero-animation span:nth-child(1) {
  animation-delay: 1s;
}
.hero .hero-animation span:nth-child(2) {
  animation-delay: 2s;
}
.hero .hero-animation span:nth-child(3) {
  animation-delay: 3s;
}
.hero .hero-animation span:nth-child(4) {
  animation-delay: 4s;
}
.hero .hero-animation.second span:nth-child(1) {
  animation-delay: 5.5s;
}
.hero .hero-animation.second span:nth-child(2) {
  animation-delay: 6.5s;
}
.hero .hero-animation.second span:nth-child(3) {
  animation-delay: 7.5s;
}
.hero .hero-animation.second span:nth-child(4) {
  animation-delay: 8.5s;
}
@keyframes word-appear {
  0% {
    top: -5rem;
  }
  25%, 75% {
    top: 0;
  }
  100% {
    top: 5rem;
  }
}
.hero .header-background-image {
  position: absolute;
  top: -80px;
  right: -13rem;
  z-index: -1;
  max-width: 850px;
  border-radius: 0 0 32px 32px;
}
@media (max-width: 768px) {
  .hero .header-background-image {
    display: none;
  }
}
.hero h1 {
  line-height: 1;
  letter-spacing: -0.2rem;
  margin-top: 4rem;
}
.hero p {
  font-size: 1.2rem;
  max-width: 45%;
  line-height: 1.5;
  background-color: #ffffff;
  padding: 1rem 1rem 1rem 0;
  border-radius: 32px;
}

h2 span {
  color: #2CE481;
}

#services .material-symbols-outlined {
  font-size: 64px;
  color: #2CE481;
}

#breaker {
  padding-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
#breaker h1 {
  margin: 0;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  #breaker h1 {
    font-size: 1.2rem;
  }
}

#unique {
  position: relative;
  background-color: #2CE481;
}
#unique .section-image {
  position: absolute;
  left: -190px;
  top: -200px;
  max-width: 700px;
  border-radius: 32px;
}

#team {
  position: relative;
  background-image: url("/images/background-single-guy-in-office.jpg");
  background-size: cover;
  background-position: center center;
}
#team .section-image {
  position: absolute;
  right: -190px;
  bottom: -400px;
  max-width: 800px;
  border-radius: 32px;
  z-index: 0;
}
#team img {
  max-width: 120px;
  border-radius: 100%;
}

.box.box-primary {
  background-color: #2CE481;
  color: #ffffff;
}
.box.box-black {
  background-color: #000;
  color: #ffffff;
}

q {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #2CE481;
  font-size: 1.2rem;
  line-height: 1.3;
}

.accordion {
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.accordion__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 1rem;
  position: relative;
  padding: 1rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.4;
}
.accordion__intro:hover .material-symbols-outlined {
  color: #2CE481;
}
.accordion__intro .material-symbols-outlined {
  color: #000;
  font-size: 2.5rem;
}
.accordion__intro .expanded {
  display: none;
}
.accordion__content {
  padding: 0 0 1rem 0;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.25s ease-out;
  opacity: 0;
}
.accordion__active .accordion__intro .expanded {
  display: block;
}
.accordion__active .accordion__intro .contracted {
  display: none;
}
.accordion__active .accordion__content {
  opacity: 1;
}

footer {
  background-color: #2CE481;
  padding: 2rem;
  margin-left: 256px;
  max-width: 100%;
}
@media (max-width: 768px) {
  footer {
    margin-left: 0;
  }
}
footer .sjobergska {
  max-width: 160px;
}
footer .join-network {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  padding-left: 2rem;
}
footer .join-network p {
  color: #000;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
}
footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 6rem;
}
@media (max-width: 768px) {
  footer .footer-content {
    flex-flow: column nowrap;
  }
}
